/*------------------------------------*\
    STYLE
\*------------------------------------*/

h1{
  @include respond-above("md"){}
}

h2{
  @include respond-above("md"){}
}

h3{
  @include respond-above("md"){}
}

h4{
}

a{
  &:hover{
    color: $secondary;
  }
}

.btn_primary{
  background-color: $primary;
  border: 1px solid $primary;
  padding: 5px 15px;
  color: black;
  transition: all 0.5s;
  &:hover{
    border: 1px solid white;
    background-color: transparent;
    color: white;
  }
}

body{
  font-family: $font_primary;
}