# Min  Hour Day  Mon  Weekday
#
# *    *    *    *    *  command to be executed
#
# ┬    ┬    ┬    ┬    ┬
# │    │    │    │    └─  Weekday  (0=Sun .. 6=Sat)
# │    │    │    └──────  Month    (1..12)
# │    │    └───────────  Day      (1..31)
# │    └────────────────  Hour     (0..23)
# └─────────────────────  Minute   (0..59)
#
# ex wordpress:
#
# */5 * * * * wget -qO- https://www.domain.tld/wp-cron.php &> /dev/null
